<div class="container">
  <section id="topSection">
    <h1>Eat da Burgers</h1>
  </section>


  <div class="container">
    <section class="row" id="mainSection">
      <div class="col-6 nosh">

        <div class="card text-center">
          <div class="card">
            <h2 class="card-header">Eat da Burgers</h2>
            <ul class="list-group list-group-flush">{{#each burgers}}
              {{#unless devoured}}
              <li class="list-group-item">
                <h5 class="card-title">
                  {{burger_name}}
                  <button data-id="{{this.id}}" data-devoured="{{this.devoured}}"
                    class="eatButton btn btn-warning btn-sm">Eat <i class="fas fa-teeth-open"></i></button>
                </h5>

              </li>
              {{/unless}}
              {{/each}}</ul>
          </div>
        </div>
      </div>

      <div class="col-6 noshed">

        <div class="card text-center">
          <div class="card">
            <h2 class="card-header">Eaten Burgers</h2>
            <ul class="list-group list-group-flush">{{#each burgers}}
              {{#if devoured}}
              <li class="list-group-item">
                <h5 class="card-title">
                  {{burger_name}}

                  <button data-id="{{this.id}}" class="makeButton btn btn-success btn-sm">Cook
                    <i class="fas fa-hamburger"></i></button>
                </h5>

              </li>
              {{/if}}
              {{/each}}</ul>
          </div>
        </div>

    </section>
  </div>

  <div class="container">
    <section class="row" id="addSection">
      <div class="col-12">
        <div class="card text-center">
          <h2 class="card-header">Create a New Burger</h2>

          <div class="card-body">
            <form class="create-form">
              <div class="form-group">
                <label for="burg">Burger Name:</label>
                <input type="text" id="burg" name="name" required>
                <button type="submit" class="btn btn-primary">Create <i class="fas fa-hamburger"></i></button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>