<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}No more burgers.{{else}}MORE burgers!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
